*{margin: 0;
padding: 0;
}

.body{
    background-color: #222;
}

.cabeçalho{
    background-color: #222;
    display: flex;
    color: white;
    border: solid white 3px;
}

.apresentação-produtos{
    text-align: center;

}

.ex{
    width:70% ;
    margin: 70px;
}

.logo{
    width: 20%
}

.botao {
    background-color: #060022;
    color: white;
    margin: 10px 24px;
    font-size: 100%;
    border: none;
    cursor: pointer;}