*{margin: 0;
padding: 0;
}

.body{
    background-color: #222;
}

.cabeçalho{
    background-color: #222;
    display: flex;
    color: white;
    border: solid white 3px;
}

.logo{
    width: 20%
}

.jogos1{
    text-align: center;
}

.botoes{
    text-align: center;
    margin: 40px;
}

.botao{
background-color: #060022;
color: white;
margin: 10px 24px;
font-size: 100%;
border: none;
cursor: pointer;
}

